<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <style>
      body {
        background-color: #372225;
      }
      .header {
        text-align: center;
      }
      .transparent {
        background:rgba(255,255,255,0.9);
      }
      .img-thumbnail {
        margin-bottom: 10px;
      }
      .card {
        background: inherit;
        border: 0;
      }
      .card img{
        margin: 0 auto;
        margin-top: 20px;
      }
      .card-footer {
        border-top: 0;
        background: inherit;
      }
      .product-image {
        max-height: 200px;
        width: auto;
      }
      .about-image {
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
      <a class="navbar-brand" href="#">{{ site.title }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#suppliers">Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a href="tel:{{ site.mobile }}" class="nav-link">{{ site.mobile }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid header">
      <a href="/">
        <img src="/images/logo.gif" alt="{{ site.title }}">
        <img src="/images/tractor-header.jpg" alt="{{ site.title }}">
      </a>
    </div>

    <div class="container-fluid">
      <h1 class="text-white"><a name="products">Parts and Products</a></h1>
      <div class="jumbotron transparent">
        {% for category in site.data.contentful.spaces.acparts.category %}
          <h2>{{ category.title }}</h2>

          <div class="row">
          {% for product in site.data.contentful.spaces.acparts.product %}
            {% if category.sys.id == product.category.sys.id %}
            {% assign anchor = product.title | replace: " ", "_" | remove: "/" | downcase %}
            {% assign preview = product.description | xml_escape | truncate: 150 %}
            <div class="card col-lg-4 col-sm-12 col-md-6">
              <img class="card-img-top rounded product-image" src="{{ product.image.url }}" alt="{{ product.image.title }}">
              <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>
                <p class="card-text">{{ preview }} {% if preview contains "..." %}<a href="#" data-toggle="modal" data-target="#{{ anchor }}">read more &raquo;</a>{% endif %}</p>
              </div>
              <div class="card-footer">
                <a href="mailto:{{ site.email }}?subject={{ product.title }}&body=Hi, I would like to enquire about your {{ product.title }}" class="btn btn-primary">Enquire</a>
              </div>
            </div>

            <div class="modal fade" id="{{ anchor }}" tabindex="-1" role="dialog" aria-labelledby="#{{ product.sys.id }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ product.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img class="media-object rounded float-right" src="{{ product.image.url }}" alt="{{ product.title }}">
                    {{ product.description | xml_escape | markdownify }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="mailto:{{ site.email }}?subject={{ product.title }}&body=Hi, I would like to enquire about your {{ product.title }}" class="btn btn-primary">Enquire</a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
            </div>
        {% endfor %}
      </div>
    </div>

    <div class="container-fluid">
      <h1 class="text-white"><a name="suppliers">Suppliers</a></h1>
      <div class="jumbotron transparent">

        <div class="row">
          {% for supplier in site.data.contentful.spaces.acparts.supplier %}

            <div class="col-sm-1 col-md-2 col-lg-3">
              <img class="img-thumbnail" title="{{ supplier.title }}" src="{{ supplier.image.url }}">
            </div>

          {% endfor %}
        </div>

      </div>
    </div>

    <div class="container-fluid">
      {% assign about = site.data.contentful.spaces.acparts.page | where:"sys.id","1ZEyZby0kc6Yww0iU0EUuq" | first %}

      <h1 class="text-white"><a name="about">{{ about.title }}</a></h1>
      <div class="jumbotron transparent">

        <img class="about-image rounded float-right" src="{{ about.image.url }}">

        {{ about.content | markdownify }}
      </div>
    </div>

    <div class="container-fluid text-white">

      <div class="row">
        <div class="col">
          {% assign contact = site.data.contentful.spaces.acparts.page | where:"sys.id","3t043SYibe2UIYKooq4Kii" | first %}

          {{ contact.content | newline_to_br | markdownify }}
        </div>
        <div class="col">
          {% assign address = site.data.contentful.spaces.acparts.page | where:"sys.id","4nsY1USJ3iyUiIUAqUsW2" | first %}

          {{ address.content | newline_to_br }}
        </div>
      </div>
    </div>

    <div class="navbar"><a href="https://zackdesign.biz">Website by Zack Design</a></div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NMW4QD2DNM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NMW4QD2DNM');
    </script>

  </body>
</html>
